<div class="filters">
	<h1>Chord Type Filters</h1>
	<div class="chord_filter-container">
		<div class="chord_filter-selection"
						ng-model="filter.filters.normal"
						ng-click="filter.filterClicked($event)" id="chord_filter-normal"
						value="normal">
						<p class="chord_filter-label active" value="normal">norm</p>
		</div>

		<div class="chord_filter-selection"
						ng-model="filter.filters.sevenths"
						ng-click="filter.filterClicked($event)" id="chord_filter-sevenths"
						value="sevenths">
						<p class="chord_filter-label active" value="sevenths">7ths</p>
		</div>

		<div class="chord_filter-selection"
						ng-model="filter.filters.sus4"
						ng-click="filter.filterClicked($event)" id="chord_filter-sus4"
						value="sus4">
						<p class="chord_filter-label active" value="sus4">sus4</p>
		</div>

		<div class="chord_filter-selection"
						ng-model="filter.filters.sixths"
						ng-click="filter.filterClicked($event)" id="chord_filter-sixths"
						value="sixths">
						<p class="chord_filter-label active" value="sixths">6ths</p>
		</div>

		<div class="chord_filter-selection"
						ng-model="filter.filters.dim"
						ng-click="filter.filterClicked($event)" id="chord_filter-dim"
						value="dim">
						<p class="chord_filter-label active" value="dim">dim</p>
		</div>

		<div class="chord_filter-selection"
						ng-model="filter.filters.aug"
						ng-click="filter.filterClicked($event)" id="chord_filter-aug"
						value="aug">
						<p class="chord_filter-label active" value="aug">aug</p>
		</div>

		<div class="chord_filter-selection"
						ng-model="filter.filters.add9"
						ng-click="filter.filterClicked($event)" id="chord_filter-add9"
						value="add9">
						<p class="chord_filter-label active" value="add9">add9</p>
		</div>

		<div class="chord_filter-selection"
						ng-model="filter.filters.sus2"
						ng-click="filter.filterClicked($event)" id="chord_filter-sus2"
						value="sus2">
						<p class="chord_filter-label active" value="sus2">sus2</p>
		</div>

		<!-- <div class="chord_filter-selection"
						ng-model="filter.filters.fifths"
						ng-click="filter.filterClicked($event)" id="chord_filter-fifths"
						value="fifths">
						<p class="chord_filter-label active" value="fifths">5ths</p>
		</div> -->

		<!-- <div class="chord_filter-selection"
						ng-model="filter.filters.sevenminusfive"
						ng-click="filter.filterClicked($event)" id="chord_filter-7-5"
						value="7-5">
						<p class="chord_filter-label active" value="7-5">7-5</p>
		</div> -->

		<!-- <div class="chord_filter-selection"
						ng-model="filter.filters.sevenplusfive"
						ng-click="filter.filterClicked($event)" id="chord_filter-7+5"
						value="7+5">
						<p class="chord_filter-label active" value="7+5">7+5</p>
		</div> -->

		<div class="chord_filter-selection"
						ng-model="filter.filters.ninths"
						ng-click="filter.filterClicked($event)" id="chord_filter-ninths"
						value="ninths">
						<p class="chord_filter-label active" value="ninths">9ths</p>
		</div>

		<!-- <div class="chord_filter-selection"
						ng-model="filter.filters.sevenminusnine"
						ng-click="filter.filterClicked($event)" id="chord_filter-7-9"
						value="7-9">
						<p class="chord_filter-label active" value="7-9">7-9</p>
		</div>

		<div class="chord_filter-selection"
						ng-model="filter.filters.sevenplusnine"
						ng-click="filter.filterClicked($event)" id="chord_filter-7+9"
						value="7+9">
						<p class="chord_filter-label active" value="7+9">7+9</p>
		</div>

		<div class="chord_filter-selection"
						ng-model="filter.filters.sevenplusnineminusnine"
						ng-click="filter.filterClicked($event)" id="chord_filter-7+9-5"
						value="7+9-5">
						<p class="chord_filter-label active" value="7+9-5">7+9-5</p>
		</div>

		<div class="chord_filter-selection"
						ng-model="filter.filters.sixovernine"
						ng-click="filter.filterClicked($event)" id="chord_filter-6/9"
						value="6/9">
						<p class="chord_filter-label active" value="6/9">6/9</p>
		</div>

		<div class="chord_filter-selection"
						ng-model="filter.filters.nineplusfive"
						ng-click="filter.filterClicked($event)" id="chord_filter-9+5"
						value="9+5">
						<p class="chord_filter-label active" value="9+5">9+5</p>
		</div>

		<div class="chord_filter-selection"
						ng-model="filter.filters.nineminusfive"
						ng-click="filter.filterClicked($event)" id="chord_filter-9-5"
						value="9-5">
						<p class="chord_filter-label active" value="9-5">9-5</p>
		</div> -->

		<div class="chord_filter-selection"
						ng-model="filter.filters.elevenths"
						ng-click="filter.filterClicked($event)" id="chord_filter-elevenths"
						value="elevenths">
						<p class="chord_filter-label active" value="elevenths">11ths</p>
		</div>

		<!-- <div class="chord_filter-selection"
						ng-model="filter.filters.elevenminusnine"
						ng-click="filter.filterClicked($event)" id="chord_filter-11-9"
						value="11-9">
						<p class="chord_filter-label active" value="11-9">11-9</p>
		</div> -->

		<div class="chord_filter-selection"
						ng-model="filter.filters.thirteenths"
						ng-click="filter.filterClicked($event)" id="chord_filter-thirteenths"
						value="thirteenths">
						<p class="chord_filter-label active" value="thirteenths">13ths</p>
		</div>
	</div>
</div>
