		<div class="chord_filter-container">
	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.normal"
					ng-click="guitar.filterChange($event)" id="chord_filter-normal"
					value="normal" checked="checked">
		<label class="chord_filter-label"
			for="chord_filter-normal">Normal</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.sevenths"
					ng-click="guitar.filterChange($event)" id="chord_filter-sevenths"
					value="sevenths" checked="checked">
		<label class="chord_filter-label"
			for="cbox2">Sevenths</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.sus4"
					ng-click="guitar.filterChange($event)" id="chord_filter-sus4"
					value="sus4" checked="checked">
		<label class="chord_filter-label"
			for="chord_filter-sus4">Sus 4</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.sixths"
					ng-click="guitar.filterChange($event)" id="chord_filter-sixths"
					value="sixths" checked="checked">
		<label class="chord_filter-label"
			for="chord_filter-sixths">Sixths</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.dim"
					ng-click="guitar.filterChange($event)" id="chord_filter-dim"
					value="dim" checked="checked">
		<label class="chord_filter-label"
			for="chord_filter-dim">Dim</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.aug"
					ng-click="guitar.filterChange($event)" id="chord_filter-aug"
					value="aug" checked="checked">
		<label class="chord_filter-label"
			for="chord_filter-aug">Aug</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.add9"
					ng-click="guitar.filterChange($event)" id="chord_filter-add9"
					value="add9" checked="checked">
		<label class="chord_filter-label"
			for="chord_filter-add9">add9</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.sus2"
					ng-click="guitar.filterChange($event)" id="chord_filter-sus2"
					value="sus2" checked="checked">
		<label class="chord_filter-label"
			for="chord_filter-sus2">sus2</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.fifths"
					ng-click="guitar.filterChange($event)" id="chord_filter-fifths"
					value="fifths" checked="checked">
		<label class="chord_filter-label"
			for="chord_filter-fifths">fifths</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.sevenminusfive"
					ng-click="guitar.filterChange($event)" id="chord_filter-7-5"
					value="7-5">
		<label class="chord_filter-label"
			for="chord_filter-7-5">7-5</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.sevenplusfive"
					ng-click="guitar.filterChange($event)" id="chord_filter-7+5"
					value="7+5">
		<label class="chord_filter-label"
			for="chord_filter-7+5">7+5</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.ninths"
					ng-click="guitar.filterChange($event)" id="chord_filter-ninths"
					value="ninths">
		<label class="chord_filter-label"
			for="chord_filter-ninths">Ninths</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.sevenminusnine"
					ng-click="guitar.filterChange($event)" id="chord_filter-7-9"
					value="7-9">
		<label class="chord_filter-label"
			for="chord_filter-7-9">7-9</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.sevenplusnine"
					ng-click="guitar.filterChange($event)" id="chord_filter-7+9"
					value="7+9">
		<label class="chord_filter-label"
			for="chord_filter-7+9">7+9</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.sevenplusnineminusnine"
					ng-click="guitar.filterChange($event)" id="chord_filter-7+9-5"
					value="7+9-5">
		<label class="chord_filter-label"
			for="chord_filter-7+9-5">7+9-5</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.sixovernine"
					ng-click="guitar.filterChange($event)" id="chord_filter-6/9"
					value="6/9">
		<label class="chord_filter-label"
			for="chord_filter-6/9">6/9</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.nineplusfive"
					ng-click="guitar.filterChange($event)" id="chord_filter-9+5"
					value="9+5">
		<label class="chord_filter-label"
			for="chord_filter-9+5">9+5</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.nineminusfive"
					ng-click="guitar.filterChange($event)" id="chord_filter-9-5"
					value="9-5">
		<label class="chord_filter-label"
			for="chord_filter-9-5">9-5</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.elevenths"
					ng-click="guitar.filterChange($event)" id="chord_filter-elevenths"
					value="elevenths">
		<label class="chord_filter-label"
			for="chord_filter-elevenths">elevenths</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.elevenminusnine"
					ng-click="guitar.filterChange($event)" id="chord_filter-11-9"
					value="11-9">
		<label class="chord_filter-label"
			for="chord_filter-11-9">11-9</label>

	<input class="chord_filter-input" type="checkbox"
					ng-model="guitar.filters.thirteenths"
					ng-click="guitar.filterChange($event)" id="chord_filter-thirteenths"
					value="thirteenths">
		<label class="chord_filter-label"
			for="chord_filter-thirteenths">thirteenths</label>

</div>
