<ul>
	<li ng-repeat="(key, value) in chords">{{ key }}</li>
</ul>

<div class="fretboard">
	<div class="string string-1" data-frets="frets-string-1" data-tuning="tuning-string-1">
		<div class="tuning-peg peg-1">
			<p id="tuning-string-1"></p>
		</div>
		<div class="frets" id="frets-string-1"></div>
	</div>
	<div class="string string-2" data-frets="frets-string-2" data-tuning="tuning-string-2">
		<div class="tuning-peg peg-2">
			<p id="tuning-string-2"></p>
		</div>
		<div class="frets" id="frets-string-2"></div>
	</div>
	<div class="string string-3" data-frets="frets-string-3" data-tuning="tuning-string-3">
		<div class="tuning-peg peg-3">
			<p id="tuning-string-3"></p>
		</div>
		<div class="frets" id="frets-string-3"></div>
	</div>
	<div class="string string-4" data-frets="frets-string-4" data-tuning="tuning-string-4">
		<div class="tuning-peg peg-4">
			<p id="tuning-string-4"></p>
		</div>
		<div class="frets" id="frets-string-4"></div>
	</div>
	<div class="string string-5" data-frets="frets-string-5" data-tuning="tuning-string-5">
		<div class="tuning-peg peg-5">
			<p id="tuning-string-5"></p>
		</div>
		<div class="frets" id="frets-string-5"></div>
	</div>
	<div class="string string-6" data-frets="frets-string-6" data-tuning="tuning-string-6">
		<div class="tuning-peg peg-6">
			<p id="tuning-string-6"></p>
		</div>
		<div class="frets" id="frets-string-6"></div>
	</div>
</div>


<div class="chord-selector_container">
	<div class="chords">
		<div class="chord-selector selection1" data-array="one"></div>
		<div class="data-output output1" data-array="one">
		</div>
	</div>
	<div class="chords">
		<div class="chord-selector selection2" data-array="two"></div>
		<div class="data-output output2" data-array="two"></div>
	</div>
	<div class="chords">
		<div class="chord-selector selection3" data-array="three"></div>
		<div class="data-output output3" data-array="three"></div>
	</div>
</div>
