  <%- include head.ejs %>
  <body>
		<div class="hero-container" id="hero-container">
			<div class="hero-image left" id="keyboard-image"></div>
			<div class="hero-image right" id="guitar-image"></div>
		</div>
		<a class="hero-title_block" href="home" id="title-block">
			<h1 class="hero-title">notemapper</h1>
		</a>
		<div class="hero-title_veil" id="title-veil"></div>
  </body>
</html>
