
	<%- include head.ejs %>

  <body ng-app="app" ng-controller="InitController as init">

		<%- include logo.ejs %>

		<h1>{{init.title}}</h1>

		<div ng-controller="GuitarController as guitar">

			<%- include fretboard.ejs %>

		</div>

  </body>

</html>
