<div class="keyboard">
	<div class="white-keys_container">
		<div class="key key-white" note="C"></div>
		<div class="key key-white" note="D"></div>
		<div class="key key-white" note="E"></div>
		<div class="key key-white" note="F"></div>
		<div class="key key-white" note="G"></div>
		<div class="key key-white" note="A"></div>
		<div class="key key-white" note="B"></div>
	</div>
	<div class="black-keys_container">
		<div class="key key-black" note="C#"></div>
		<div class="key key-black" note="D#"></div>
		<div class="key key-black" note="F#"></div>
		<div class="key key-black" note="G#"></div>
		<div class="key key-black" note="A#"></div>
	</div>
</div>
