<div class="keyboard">
	<div class="key-white white1">
		<div class="key-black black1"></div>
	</div>
	<div class="key-white white1">
		<div class="key-black black1"></div>
	</div>
	<div class="key-white white1">
		<div class="key-black black1 hidden"></div>
	</div>
	<div class="key-white white1">
		<div class="key-black black1"></div>
	</div>
	<div class="key-white white1">
		<div class="key-black black1"></div>
	</div>
	<div class="key-white white1">
		<div class="key-black black1"></div>
	</div>
	<div class="key-white white1">
		<div class="key-black black1 hidden"></div>
	</div>
	<div class="key-white white1">
		<div class="key-black black1"></div>
	</div>
	<div class="key-white white1">
		<div class="key-black black1"></div>
	</div>
	<div class="key-white white1">
		<div class="key-black black1 hidden"></div>
	</div>
	<div class="key-white white1">
		<div class="key-black black1"></div>
	</div>
	<div class="key-white white1">
		<div class="key-black black1"></div>
	</div>
	<div class="key-white white1">
		<div class="key-black black1"></div>
	</div>
	<div class="key-white white1">
		<div class="key-black black1 hidden"></div>
	</div>
</div>
