<div class="keyboard">
	<div class="white-keys_container">
		<div class="key key-white" note="C"
			ng-mouseover="keyboard.keyMouseOver($event)"
			ng-mouseleave="keyboard.keyMouseLeave($event)"
			ng-click="keyboard.keyClicked($event)"
			data-color="rgba(255,255,255,1)" data-selected="false"></div>

		<div class="key key-white" note="D"
			ng-mouseover="keyboard.keyMouseOver($event)"
			ng-mouseleave="keyboard.keyMouseLeave($event)"
			ng-click="keyboard.keyClicked($event)"
			data-color="rgba(255,255,255,1)" data-selected="false"></div>

		<div class="key key-white" note="E"
			ng-mouseover="keyboard.keyMouseOver($event)"
			ng-mouseleave="keyboard.keyMouseLeave($event)"
			ng-click="keyboard.keyClicked($event)"
			data-color="rgba(255,255,255,1)" data-selected="false"></div>

		<div class="key key-white" note="F"
			ng-mouseover="keyboard.keyMouseOver($event)"
			ng-mouseleave="keyboard.keyMouseLeave($event)"
			ng-click="keyboard.keyClicked($event)"
			data-color="rgba(255,255,255,1)" data-selected="false"></div>

		<div class="key key-white" note="G"
			ng-mouseover="keyboard.keyMouseOver($event)"
			ng-mouseleave="keyboard.keyMouseLeave($event)"
			ng-click="keyboard.keyClicked($event)"
			data-color="rgba(255,255,255,1)" data-selected="false"></div>

		<div class="key key-white" note="A"
			ng-mouseover="keyboard.keyMouseOver($event)"
			ng-mouseleave="keyboard.keyMouseLeave($event)"
			ng-click="keyboard.keyClicked($event)"
			data-color="rgba(255,255,255,1)" data-selected="false"></div>

		<div class="key key-white" note="B"
			ng-mouseover="keyboard.keyMouseOver($event)"
			ng-mouseleave="keyboard.keyMouseLeave($event)"
			ng-click="keyboard.keyClicked($event)"
			data-color="rgba(255,255,255,1)" data-selected="false"></div>
	</div>

	<div class="black-keys_container">
		<div class="key key-black" note="C#"
			ng-mouseover="keyboard.keyMouseOver($event)"
			ng-mouseleave="keyboard.keyMouseLeave($event)"
			ng-click="keyboard.keyClicked($event)"
			data-color="rgba(0,0,0,1)" data-selected="false"></div>

		<div class="key key-black" note="D#"
			ng-mouseover="keyboard.keyMouseOver($event)"
			ng-mouseleave="keyboard.keyMouseLeave($event)"
			ng-click="keyboard.keyClicked($event)"
			data-color="rgba(0,0,0,1)" data-selected="false"></div>

		<div class="key key-black" note="F#"
			ng-mouseover="keyboard.keyMouseOver($event)"
			ng-mouseleave="keyboard.keyMouseLeave($event)"
			ng-click="keyboard.keyClicked($event)"
			data-color="rgba(0,0,0,1)" data-selected="false"></div>

		<div class="key key-black" note="G#"
			ng-mouseover="keyboard.keyMouseOver($event)"
			ng-mouseleave="keyboard.keyMouseLeave($event)"
			ng-click="keyboard.keyClicked($event)"
			data-color="rgba(0,0,0,1)" data-selected="false"></div>

		<div class="key key-black" note="A#"
			ng-mouseover="keyboard.keyMouseOver($event)"
			ng-mouseleave="keyboard.keyMouseLeave($event)"
			ng-click="keyboard.keyClicked($event)"
			data-color="rgba(0,0,0,1)" data-selected="false"></div>
	</div>
</div>
