<div class="mpc">
	<div class="mpc_container">
		<div class="pad" ng-click="mpc.padClicked($event)"
		note="C" pad-id="13" ng-mouseover="mpc.padMouseOver($event)"
		selected="false" ng-mouseleave="mpc.padMouseLeave($event)"
		data-color="rgba(0,0,0,0)">C</div>

		<div class="pad" ng-click="mpc.padClicked($event)"
		note="C#" pad-id="14" ng-mouseover="mpc.padMouseOver($event)"
		selected="false" ng-mouseleave="mpc.padMouseLeave($event)"
		data-color="rgba(0,0,0,0)">C#</div>

		<div class="pad" ng-click="mpc.padClicked($event)"
		note="D" pad-id="15" ng-mouseover="mpc.padMouseOver($event)"
		selected="false" ng-mouseleave="mpc.padMouseLeave($event)"
		data-color="rgba(0,0,0,0)">D</div>

		<div class="pad" ng-click="mpc.padClicked($event)"
		note="D#" pad-id="16" ng-mouseover="mpc.padMouseOver($event)"
		selected="false" ng-mouseleave="mpc.padMouseLeave($event)"
		data-color="rgba(0,0,0,0)">D#</div>

		<div class="pad" ng-click="mpc.padClicked($event)"
		note="G#" pad-id="9" ng-mouseover="mpc.padMouseOver($event)"
		selected="false" ng-mouseleave="mpc.padMouseLeave($event)"
		data-color="rgba(0,0,0,0)">G#</div>

		<div class="pad" ng-click="mpc.padClicked($event)"
		note="A" pad-id="10" ng-mouseover="mpc.padMouseOver($event)"
		selected="false" ng-mouseleave="mpc.padMouseLeave($event)"
		data-color="rgba(0,0,0,0)">A</div>

		<div class="pad" ng-click="mpc.padClicked($event)"
		note="A#" pad-id="11" ng-mouseover="mpc.padMouseOver($event)"
		selected="false" ng-mouseleave="mpc.padMouseLeave($event)"
		data-color="rgba(0,0,0,0)">A#</div>

		<div class="pad" ng-click="mpc.padClicked($event)"
		note="B" pad-id="12" ng-mouseover="mpc.padMouseOver($event)"
		selected="false" ng-mouseleave="mpc.padMouseLeave($event)"
		data-color="rgba(0,0,0,0)">B</div>

		<div class="pad" ng-click="mpc.padClicked($event)"
		note="E" pad-id="5" ng-mouseover="mpc.padMouseOver($event)"
		selected="false" ng-mouseleave="mpc.padMouseLeave($event)"
		data-color="rgba(0,0,0,0)">E</div>

		<div class="pad" ng-click="mpc.padClicked($event)"
		note="F" pad-id="6" ng-mouseover="mpc.padMouseOver($event)"
		selected="false" ng-mouseleave="mpc.padMouseLeave($event)"
		data-color="rgba(0,0,0,0)">F</div>

		<div class="pad" ng-click="mpc.padClicked($event)"
		note="F#" pad-id="7" ng-mouseover="mpc.padMouseOver($event)"
		selected="false" ng-mouseleave="mpc.padMouseLeave($event)"
		data-color="rgba(0,0,0,0)">F#</div>

		<div class="pad" ng-click="mpc.padClicked($event)"
		note="G" pad-id="8" ng-mouseover="mpc.padMouseOver($event)"
		selected="false" ng-mouseleave="mpc.padMouseLeave($event)"
		data-color="rgba(0,0,0,0)">G</div>

		<div class="pad" ng-click="mpc.padClicked($event)"
		note="C" pad-id="1" ng-mouseover="mpc.padMouseOver($event)"
		selected="false" ng-mouseleave="mpc.padMouseLeave($event)"
		data-color="rgba(0,0,0,0)">C</div>

		<div class="pad" ng-click="mpc.padClicked($event)"
		note="C#" pad-id="2" ng-mouseover="mpc.padMouseOver($event)"
		selected="false" ng-mouseleave="mpc.padMouseLeave($event)"
		data-color="rgba(0,0,0,0)">C#</div>

		<div class="pad" ng-click="mpc.padClicked($event)"
		note="D" pad-id="3" ng-mouseover="mpc.padMouseOver($event)"
		selected="false" ng-mouseleave="mpc.padMouseLeave($event)"
		data-color="rgba(0,0,0,0)">D</div>

		<div class="pad" ng-click="mpc.padClicked($event)"
		note="D#" pad-id="4" ng-mouseover="mpc.padMouseOver($event)"
		selected="false" ng-mouseleave="mpc.padMouseLeave($event)"
		data-color="rgba(0,0,0,0)">D#</div>
	</div>
</div>
