<div class="chord-bank_container">
	<div class="chordbank chordbank-one">
		<div class="chord-bank bank-one" data-array="chord-bank-one"
			ng-click="select.chordbankSelected($event)"></div>
	</div>
	<div class="chordbank chordbank-two">
		<div class="chord-bank bank-two" data-array="chord-bank-two"
			ng-click="select.chordbankSelected($event)"></div>
	</div>
	<div class="chordbank chordbank-three">
		<div class="chord-bank bank-three" data-array="chord-bank-three"
			ng-click="select.chordbankSelected($event)"></div>
	</div>
</div>
