/**
* Fonts
*/
@import url("https://fonts.googleapis.com/css?family=Reem+Kufi");
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700");
/**
 * Colors
 */
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #222222;
  padding: 30px; }

p, h1, h2, h3, h4, h5, a {
  font-family: "'Reem Kufi', sans-serif";
  color: white; }

.string {
  display: flex; }

.tuning-peg {
  color: white;
  display: table;
  width: 40px;
  height: 40px;
  border-radius: 4px; }
  .tuning-peg p {
    text-align: center;
    vertical-align: middle;
    display: table-cell; }

.fret {
  color: white;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: solid 0.5px white; }
  .fret:hover {
    background-color: white;
    opacity: 0.2; }
    .fret:hover > .fret_note {
      display: block; }

.fret_note,
.fret_number {
  display: none; }

.tuning-selection > select {
  height: 50px;
  margin: 20px 0; }

.tuning-peg {
  color: black;
  height: 43px;
  margin: 0 5px; }

.tuning-selector_container {
  margin: 50px 0; }
  .tuning-selector_container select {
    height: 50px;
    width: 300px; }

.chord_filter-input {
  width: 20px;
  height: 20px; }

.chord_filter-label {
  font-family: "'Reem Kufi', sans-serif";
  color: white; }

.chord-bank_container {
  width: 100%;
  height: 150px; }
  .chord-bank_container.hidden {
    display: none; }

.chords {
  display: inline-flex; }

.chord-bank {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin: 5px 5px;
  cursor: pointer; }
  .chord-bank.bank-one {
    background-color: red; }
  .chord-bank.bank-two {
    background-color: green; }
  .chord-bank.bank-three {
    background-color: blue; }

.data-output {
  color: black;
  height: 50px;
  width: 100%;
  border-radius: 2px;
  margin: 5px 5px; }

.keyboard {
  margin: 25px 0;
  height: 150px; }

.key:hover {
  background: yellow; }

.white-keys_container {
  position: absolute; }

.key-white {
  position: relative;
  height: 150px;
  width: 50px;
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  margin: 0;
  padding: 0; }

.key-black {
  position: relative;
  left: 38px;
  height: 100px;
  width: 25px;
  background-color: black;
  border-radius: 2px;
  display: inline-block;
  margin: 0;
  padding: 0;
  z-index: 2; }
  .key-black:nth-child(1) {
    margin-left: 2px; }
  .key-black:nth-child(2) {
    margin-left: 25px; }
  .key-black:nth-child(3) {
    margin-left: 79px; }
  .key-black:nth-child(4) {
    margin-left: 25px; }
  .key-black:nth-child(5) {
    margin-left: 25px; }
  .key-black.selected {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black; }

.logo_container {
  position: relative;
  z-index: -1; }

div.logo_cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  mix-blend-mode: screen;
  background: #EB3349;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top left, #EB3349, #F45C43, #EB3349);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top left, #EB3349, #F45C43, #EB3349);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top left, #EB3349, #F45C43, #EB3349);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top left, #EB3349, #F45C43, #EB3349);
  /* Standard syntax */ }

h1.logo_text {
  font-size: 150px;
  font-family: 'Hammersmith One', sans-serif; }
  h1.logo_text.text-black {
    position: absolute;
    color: black; }
  h1.logo_text.text-white {
    background-color: #222222;
    color: white;
    mix-blend-mode: multiply; }
