/**
* Fonts
*/
@import url("https://fonts.googleapis.com/css?family=Reem+Kufi");
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700");
/**
 * Colors
 */
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #222222;
  padding: 30px; }

p, h1, h2, h3, h4, h5, a {
  font-family: "'Reem Kufi', sans-serif";
  color: white; }

.string {
  display: flex; }

.tuning-peg {
  color: white;
  display: table;
  width: 40px;
  height: 40px;
  border-radius: 4px; }
  .tuning-peg p {
    text-align: center;
    vertical-align: middle;
    display: table-cell; }

.fret {
  color: white;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: solid 0.5px white; }
  .fret:hover {
    background-color: rgba(255, 255, 255, 0.2); }
    .fret:hover > .fret_note {
      display: block; }
  .fret span {
    font-size: 10px;
    display: block;
    position: absolute; }

.frets {
  width: 100%; }

.fret_note,
.fret_number {
  display: none; }

.tuning-selection > select {
  height: 50px;
  margin: 20px 0; }

.tuning-peg {
  color: black;
  height: 43px;
  margin: 0 5px; }

.tuning-selector_container {
  margin: 50px 0; }
  .tuning-selector_container select {
    height: 50px;
    width: 300px; }

.fret_marker {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: white; }
  .fret_marker.fret_3 {
    left: 236px;
    top: 304px; }
  .fret_marker.fret_5 {
    left: 328px;
    top: 304px; }
  .fret_marker.fret_7 {
    left: 420px;
    top: 304px; }
  .fret_marker.fret_9 {
    left: 513px;
    top: 304px; }
  .fret_marker.fret_12-top {
    top: 257px;
    left: 650px; }
  .fret_marker.fret_12-bottom {
    top: 349px;
    left: 650px; }
  .fret_marker.fret_15 {
    left: 788px;
    top: 304px; }
  .fret_marker.fret_17 {
    left: 883px;
    top: 304px; }
  .fret_marker.fret_19 {
    left: 972px;
    top: 304px; }

.nut {
  width: 4px;
  height: 281px;
  position: absolute;
  left: 132px;
  top: 176px;
  background: red;
  border-radius: 8px; }

.keyboard {
  display: table;
  margin: 50px auto;
  height: 150px; }

.key:hover {
  background-color: cornflowerblue; }

.white-keys_container {
  position: absolute; }

.key-white {
  position: relative;
  height: 150px;
  width: 50px;
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  margin: 0;
  padding: 0; }
  .key-white.default {
    background-color: white !important; }

.key-black {
  position: relative;
  left: 38px;
  height: 100px;
  width: 25px;
  background-color: black;
  border-radius: 2px;
  display: inline-block;
  margin: 0;
  padding: 0;
  z-index: 2; }
  .key-black:nth-child(1) {
    margin-left: 2px; }
  .key-black:nth-child(2) {
    margin-left: 25px; }
  .key-black:nth-child(3) {
    margin-left: 79px; }
  .key-black:nth-child(4) {
    margin-left: 25px; }
  .key-black:nth-child(5) {
    margin-left: 25px; }
  .key-black.selected {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black; }
  .key-black.default {
    background-color: black !important; }

.logo_container {
  position: relative;
  z-index: -1; }

div.logo_cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  mix-blend-mode: screen;
  background: #EB3349;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top left, #EB3349, #F45C43, #EB3349);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top left, #EB3349, #F45C43, #EB3349);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top left, #EB3349, #F45C43, #EB3349);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top left, #EB3349, #F45C43, #EB3349);
  /* Standard syntax */ }

h1.logo_text {
  font-size: 150px;
  font-family: 'Hammersmith One', sans-serif; }
  h1.logo_text.text-black {
    position: absolute;
    color: black; }
  h1.logo_text.text-white {
    background-color: #222222;
    color: white;
    mix-blend-mode: multiply; }

.mpc {
  display: block;
  width: 364px;
  position: relative;
  left: 40%;
  bottom: 17px; }

.mpc_container {
  display: block;
  height: 100%;
  width: 100%; }

.pad {
  width: 86px;
  height: 86px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 4px;
  float: left; }
  .pad:hover {
    background-color: cornflowerblue; }
  .pad.selected {
    display: table-cell; }

.chord-bank_container {
  width: 100%;
  height: 150px; }
  .chord-bank_container.hidden {
    display: none; }

.chords {
  display: inline-flex; }

.chord-bank {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin: 5px 5px;
  cursor: pointer; }
  .chord-bank.bank-one {
    background-color: red; }
  .chord-bank.bank-two {
    background-color: green; }
  .chord-bank.bank-three {
    background-color: blue; }

.data-output {
  color: black;
  height: 50px;
  width: 100%;
  border-radius: 2px;
  margin: 5px 5px;
  width: 150px;
  position: absolute; }

.chord_filter-container {
  display: table-cell;
  margin: 10px 0;
  position: absolute;
  left: 350px;
  top: 84px; }

.chord_filter-selection {
  width: 46px;
  height: 25px;
  display: inline-block;
  text-align: center;
  cursor: pointer; }

.chord_filter-input {
  width: 20px;
  height: 20px; }

.chord_filter-label {
  border: solid 1px white;
  border-radius: 4px;
  height: 100%;
  font-family: "'Reem Kufi', sans-serif";
  width: 100%;
  background-color: rgba(255, 255, 255, 0); }
  .chord_filter-label.active {
    background-color: darkorange; }
  .chord_filter-label:hover {
    background-color: darkorange; }

.subset_results-name {
  font-size: 1.2em;
  padding: 5px;
  border: 1px solid white; }
  .subset_results-name:hover {
    cursor: pointer; }

.subset_results-notes {
  font-size: 1em; }
