/**
* Fonts
*/
@import url("https://fonts.googleapis.com/css?family=Reem+Kufi");
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700");
/**
 * Colors
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #222222;
  padding: 0px; }

p, h1, h2, h3, h4, h5, a {
  font-family: 'Raleway', sans-serif;
  color: white; }

.fretboard {
  margin: 60px 0 0 0; }

.guitar-container {
  margin-top: 100px; }

.string {
  display: flex; }

.tuning-peg {
  color: white;
  display: table;
  width: 40px;
  height: 40px;
  border-radius: 4px; }
  .tuning-peg p {
    text-align: center;
    vertical-align: middle;
    display: table-cell; }

.fret {
  border: solid 0.5px white;
  border-radius: 4px;
  color: white;
  display: inline-block;
  height: 40px;
  position: relative;
  width: 40px; }
  .fret:hover {
    background-color: rgba(255, 255, 255, 0.2); }
    .fret:hover > .fret_note {
      display: block; }
  .fret span {
    font-size: 10px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0); }

.frets {
  width: 100%; }

.fret_note,
.fret_number {
  display: none; }

.tuning-selection > select {
  height: 50px;
  margin: 20px 0; }

.tuning-peg {
  color: black;
  height: 43px;
  margin: 0 5px; }

.tuning-selector_container {
  width: 300px; }
  .tuning-selector_container select {
    height: 50px;
    width: 200px; }

.fret_marker {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: white;
  z-index: 1; }
  .fret_marker.fret_3 {
    left: 199px;
    top: 317px; }
  .fret_marker.fret_5 {
    left: 286px;
    top: 317px; }
  .fret_marker.fret_7 {
    left: 375px;
    top: 317px; }
  .fret_marker.fret_9 {
    left: 464px;
    top: 317px; }
  .fret_marker.fret_12-top {
    top: 270px;
    left: 595px; }
  .fret_marker.fret_12-bottom {
    top: 360px;
    left: 595px; }
  .fret_marker.fret_15 {
    left: 727px;
    top: 317px; }
  .fret_marker.fret_17 {
    left: 815px;
    top: 317px; }
  .fret_marker.fret_19 {
    left: 904px;
    top: 317px; }

.nut {
  width: 5px;
  height: 254px;
  position: absolute;
  left: 100px;
  top: 203px;
  background: red;
  border-radius: 8px; }

.tuning {
  position: relative;
  display: block; }

.key-inputs_group {
  position: relative;
  display: inline-flex;
  margin: 15px 0; }

.keyboard {
  display: block; }

.key:hover {
  background-color: cornflowerblue; }

.white-keys_container {
  position: absolute; }

.key-white {
  position: relative;
  height: 150px;
  width: 50px;
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  margin: 0;
  padding: 0; }
  .key-white.default {
    background-color: white !important; }

.key-black {
  position: relative;
  left: 38px;
  height: 100px;
  width: 25px;
  background-color: black;
  border-radius: 2px;
  display: inline-block;
  margin: 0;
  padding: 0;
  z-index: 2; }
  .key-black:nth-child(1) {
    margin-left: 2px; }
  .key-black:nth-child(2) {
    margin-left: 25px; }
  .key-black:nth-child(3) {
    margin-left: 79px; }
  .key-black:nth-child(4) {
    margin-left: 25px; }
  .key-black:nth-child(5) {
    margin-left: 25px; }
  .key-black.selected {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black; }
  .key-black.default {
    background-color: black !important; }

.logo_container {
  position: relative;
  z-index: -1; }

div.logo_cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  mix-blend-mode: screen;
  background: #EB3349;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top left, #EB3349, #F45C43, #EB3349);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top left, #EB3349, #F45C43, #EB3349);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top left, #EB3349, #F45C43, #EB3349);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top left, #EB3349, #F45C43, #EB3349);
  /* Standard syntax */ }

h1.logo_text {
  font-size: 150px;
  font-family: 'Hammersmith One', sans-serif; }
  h1.logo_text.text-black {
    position: absolute;
    color: black; }
  h1.logo_text.text-white {
    background-color: #222222;
    color: white;
    mix-blend-mode: multiply; }

.mpc {
  width: 162px;
  position: relative;
  left: 100px; }

.mpc_container {
  display: block;
  height: 100%;
  width: 100%; }

.pad {
  width: 38px;
  height: 38px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 4px;
  float: left;
  position: relative; }
  .pad:hover {
    background-color: cornflowerblue; }
  .pad.selected {
    display: table-cell; }
  .pad > span {
    font-size: 12px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0); }

.selectors {
  position: absolute;
  right: 370px;
  top: 83px; }

.chord-bank_container {
  height: 60px;
  display: inline-flex; }
  .chord-bank_container.hidden {
    display: none; }

.chordbank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30px 0 0; }

.chords {
  display: inline-flex; }

.chord-bank {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin: 5px 5px;
  cursor: pointer;
  opacity: 0.6; }
  .chord-bank.bank-one {
    background-color: red; }
  .chord-bank.bank-two {
    background-color: green; }
  .chord-bank.bank-three {
    background-color: blue; }
  .chord-bank::after {
    content: " ";
    display: block;
    position: relative;
    width: 62px;
    height: 62px;
    left: -7px;
    top: -7px;
    border-radius: 10px;
    border: grey 0px solid;
    background-color: transparent; }
  .chord-bank:hover::after {
    border: white 1px solid; }
  .chord-bank.active {
    opacity: 1; }
    .chord-bank.active::after {
      border: white 1px solid; }

.data-output {
  color: black;
  height: 152px;
  width: 100%;
  margin: 0 0 0 115px;
  width: 500px;
  column-gap: 0px;
  position: relative;
  column-count: 4;
  overflow-x: scroll; }

.filters {
  position: absolute;
  top: 83px;
  left: 370px; }
  .filters > h1 {
    margin-bottom: 5px; }

.chord_filter-container {
  display: table-cell;
  margin: 10px 0;
  column-count: 2;
  column-gap: 2px;
  width: 296px; }

.chord_filter-selection {
  width: 46px;
  height: 25px;
  display: inline-block;
  text-align: center;
  cursor: pointer; }

.chord_filter-input {
  width: 20px;
  height: 20px; }

.chord_filter-label {
  border: solid 1px white;
  border-radius: 4px;
  height: 100%;
  margin: 8px 0;
  font-family: "'Josefin Sans', sans-serif";
  width: 100%;
  background-color: rgba(255, 255, 255, 0); }
  .chord_filter-label.active {
    background-color: darkorange; }
  .chord_filter-label:hover {
    background-color: darkorange; }

.subset_results-name {
  font-size: 1.2em;
  border-radius: 5px;
  padding: 0 10px;
  height: 49px;
  display: block;
  overflow-x: scroll; }
  .subset_results-name.hidden {
    display: none; }
  .subset_results-name:hover {
    cursor: pointer;
    background-color: darkorange;
    border: 1px solid white; }

.subset_results-notes {
  font-size: 1em; }

.hero-container {
  opacity: 0; }

.hero-image {
  bottom: 0;
  position: fixed; }
  .hero-image.right {
    background-image: linear-gradient(to right, black 0%, white 100%), url("../images/index-guitar.jpg");
    background-blend-mode: soft-light;
    background-position: 0;
    background-size: cover;
    bottom: 0%;
    height: 100%;
    width: 100%;
    z-index: 1; }
  .hero-image.left {
    background-image: linear-gradient(to right, white 0%, black 100%), url("../images/index-keyboard.jpg");
    background-blend-mode: soft-light;
    background-position: 0;
    border-right: 10px solid white;
    height: 100%;
    left: 0;
    width: 100%;
    z-index: 2; }

.hero-title_block {
  background-color: black;
  opacity: 0;
  position: absolute;
  border: solid 5px white;
  border-radius: 3px;
  z-index: 3;
  left: 50%;
  top: 50%;
  padding: 50px 100px;
  text-decoration: none !important;
  transform: translate3d(-50%, -50%, 0); }

.hero-title {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100px;
  z-index: 4; }

.hero-title_veil {
  background-color: white;
  position: absolute;
  border: solid 2px white;
  border-radius: 3px;
  z-index: 4;
  left: 0;
  top: 41.9%;
  width: 0px;
  height: 0px;
  text-decoration: none !important; }

.toolbar-container {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 2;
  background-color: green; }

.toolbar-nav {
  display: inline-flex;
  height: 100%; }

.toolbar-nav-item {
  list-style: none;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .toolbar-nav-item > button {
    width: 150px;
    height: 50px; }
