.fretboard {
	margin: 60px 0 0 0;
}

.guitar-container {
	margin-top: 100px;
}

.string {
	display: flex;
}

.tuning-peg {
	color: white;
	display: table;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	// border: solid 0.5px white;

	p {
		text-align:center;
	  vertical-align: middle;
	  display: table-cell;
	}
}

.fret {
	border: solid 0.5px white;
	border-radius: 4px;
	color: white;
	display: inline-block;
	height: 40px;
	position: relative;
	width: 40px;

	&:hover {
		background-color: rgba(255, 255, 255, 0.2);

		> .fret_note {
			display: block;
		}
	}

	span {
		font-size: 10px;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
}

.frets {
	width: 100%;
}

.fret_note,
.fret_number {
	display: none;
}

.tuning-selection {
	> select {
		height: 50px;
		margin: 20px 0;
	}
}

.tuning-peg {
	color: black;
	height: 43px;
	margin: 0 5px;
}

.tuning-selector_container {
	width: 300px;

	select {
		height: 50px;
		width: 200px;
	}
}

.fret_marker {
	position: absolute;
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 13px;
	background-color: white;
	z-index: 1;

	&.fret_3 {
		left: 199px;
		top: 317px;
  }
  &.fret_5 {
		left: 286px;
		top: 317px;
  }
  &.fret_7 {
		left: 375px;
		top: 317px;
  }
  &.fret_9 {
		left: 464px;
    top: 317px;
  }
  &.fret_12-top {
		top: 270px;
    left: 595px;
  }
	&.fret_12-bottom {
		top: 360px;
    left: 595px;
	}
	&.fret_15 {
		left: 727px;
    top: 317px;
	}
	&.fret_17{
		left: 815px;
		top: 317px;
	}
	&.fret_19{
		left: 904px;
    top: 317px;
	}
}

.nut {
	width: 5px;
	height: 254px;
	position: absolute;
	left: 100px;
	top: 203px;
	background: red;
	border-radius: 8px;
}

.tuning {
	position: relative;
	display: block;
}
