.string {
	display: flex;
}

.tuning-peg {
	color: white;
	display: table;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	// border: solid 0.5px white;

	p {
		text-align:center;
	  vertical-align: middle;
	  display: table-cell;
	}
}

.fret {
	color: white;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	border: solid 0.5px white;

	&:hover {
		background-color: rgba(255, 255, 255, 0.2);

		> .fret_note {
			display: block;
		}
	}

	span {
		font-size: 10px;
		display: block;
		position: absolute;
		// padding: 10px 14px;
	}
}

.frets {
	width: 100%;
}

.fret_note,
.fret_number {
	display: none;
}

.tuning-selection {
	> select {
		height: 50px;
		margin: 20px 0;
	}
}

.tuning-peg {
	color: black;
	height: 43px;
	margin: 0 5px;
}

.tuning-selector_container {
	margin: 50px 0;

	select {
		height: 50px;
		width: 300px;
	}
}

.fret_marker {
	position: absolute;
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 13px;
	background-color: white;

	&.fret_3 {
		left: 236px;
		top: 304px;
  }
  &.fret_5 {
		left: 328px;
		top: 304px;
  }
  &.fret_7 {
		left: 420px;
		top: 304px;
  }
  &.fret_9 {
		left: 513px;
    top: 304px;
  }
  &.fret_12-top {
		top: 257px;
    left: 650px;
  }
	&.fret_12-bottom {
		top: 349px;
    left: 650px;
	}
	&.fret_15 {
		left: 788px;
    top: 304px;
	}
	&.fret_17{
		left: 883px;
		top: 304px;
	}
	&.fret_19{
		left: 972px;
    top: 304px;
	}
}

.nut {
	width: 4px;
	height: 281px;
	position: absolute;
	left: 132px;
	top: 176px;
	background: red;
	border-radius: 8px;
}
