.keyboard {
	display: table;
  margin: 50px auto;
  height: 150px;
}

.key {
	&:hover {
		background-color: cornflowerblue;
	}
}

.white-keys_container {
  position: absolute;
}

.black-keys_container {}

.key-white {
  position: relative;
  height: 150px;
  width: 50px;
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  margin: 0;
  padding: 0;

	&.default {
		background-color: white !important;
	}
}

.key-black {
  position: relative;
  left: 38px;
  height: 100px;
  width: 25px;
  background-color: black;
  border-radius: 2px;
  display: inline-block;
  margin: 0;
  padding: 0;
  z-index: 2;

  &:nth-child(1) {
    margin-left: 2px;
  }
  &:nth-child(2) {
    margin-left: 25px;
  }
  &:nth-child(3) {
    margin-left: 79px;
  }
  &:nth-child(4) {
    margin-left: 25px;
  }
  &:nth-child(5) {
    margin-left: 25px;
  }

	&.selected {
		border-bottom: 2px solid black;
		border-left: 2px solid black;
		border-right: 2px solid black;
	}

	&.default {
		background-color: black !important;
	}
}
