.mpc {
	display: block;
	width: 4 * $mpc-key-size + 20;
	position: relative;
	left: 44%;
	bottom: 17px;
}

.mpc_container {
	display: block;
	height: 100%;
	width: 100%;
}

.pad {
	width: $mpc-key-size;
	height: $mpc-key-size;
	background: $opaque;
	border: 1px solid white;
	border-radius: 4px;
	float: left;

	&:hover {
		background-color: cornflowerblue;
	}

	&.selected {

		display: table-cell;
	}
}
