.mpc {
	width: 4 * $mpc-key-size + 10px;
	position: relative;
	left: 100px;
}

.mpc_container {
	display: block;
	height: 100%;
	width: 100%;
}

.pad {
	width: $mpc-key-size;
	height: $mpc-key-size;
	background: $opaque;
	border: 1px solid white;
	border-radius: 4px;
	float: left;
	position: relative;

	&:hover {
		background-color: cornflowerblue;
	}

	&.selected {
		display: table-cell;
	}

	> span {
		font-size: $font-notes;
		color: white;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
	}

}
