.chord-bank_container {
  width: 100%;
  height: 150px;

	&.hidden {
		display: none;
	}
}

.chords {
  display: inline-flex;
}

.chord-bank {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin: 5px 5px;
	cursor: pointer;

  &.bank-one {
    background-color: red;
  }
  &.bank-two {
    background-color: green;
  }
  &.bank-three {
    background-color: blue;
  }
}

.data-output {
	color: black;
	height: 50px;
	width: 100%;
	border-radius: 2px;
	margin: 5px 5px;
	width: 150px;
	position: absolute;
}

.chord_filter-container {
	display: table-cell;
  margin: 10px 0;
  position: absolute;
  left: 350px;
  top: 84px;
}

.chord_filter-selection {
	width: 46px;
  height: 25px;
  display: inline-block;
  text-align: center;
	cursor: pointer;
}

.chord_filter-input {
	width: 20px;
	height: 20px;
}

.chord_filter-label {
	border: solid 1px white;
	border-radius: 4px;
	height: 100%;
	font-family: $font;
	width: 100%;
	background-color: $opaque;

	&.active {
		background-color: darkorange;
	}

	&:hover {
		background-color: darkorange;
	}
}

.subset_results-name {
	font-size: 1.2em;
	padding: 5px;
	border: 1px solid white;

	&:hover {
		cursor: pointer;
	}
}

.subset_results-notes {
	font-size: 1em;
}
