/**
* Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700');

$font: "'Reem Kufi', sans-serif";
$sub-alternative: "'Josefin Slab', serif";

/**
 * Colors
 */
$black-dark: #222222;
$black-light: #191919;
