/**
* Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700');

$font: "'Josefin Sans', sans-serif";
$sub-alternative: "'Josefin Slab', serif";

/**
 * Colors
 */
$black-dark: #222222;
$black-light: #191919;
$opaque: rgba(255, 255, 255, 0);


$mpc-key-size: 86px;
