.chord-selector_container {
  width: 100%;
  height: 350px;
}

.chords {
  display: inline-flex;
}

.chord-selector {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin: 5px 5px;

  &.selection1 {
    background-color: orange;
  }
  &.selection2 {
    background-color: red;
  }
  &.selection3 {
    background-color: yellow;
  }
  &.selection4 {
    background-color: blue;
  }
  &.selection5 {
    background-color: pink;
  }
  &.selection6 {
    background-color: green;
  }

}

.data-output {
	color: black;
  height: 50px;
  width: 300px;
  background-color: white;
  border-radius: 2px;
  margin: 5px 5px;
}
